<!--breakfast.html-->
<include href="views/header.html"></include>  <!--This is strictly F3 syntax-->

<div class="container">
    <h1>Welcome to a Diner.</h1>
    <p>Breakfast Menu.</p>
    <img src="img/pancakes.jpg" height="200" alt="Picture of a stack of pancakes.">
    <br>
    <br>
    <ul>
        <li>Pancakes</li>
        <li>Eggs</li>
        <li>French Toast</li>
    </ul>

    <a type="button" class="btn btn-primary"
       href="diner-order.html">
        Place an Order
    </a>
</div>


<include href="views/footer.html"></include>  <!--This is strictly F3 syntax-->