<!--diner-home.html-->
<include href="views/header.html"></include>  <!--This is strictly F3 syntax-->

<div class="container">
    <h1>Welcome to a Diner.</h1>
    <p>Very best food is served.</p>
    <img src="img/dustcitydiner.jpg" alt="Picture of grilled cheese being served in the middle of the desert.">
    <br>
    <br>
    <a type="button" class="btn btn-primary"
        href="diner-order.html">
        Place an Order
    </a>
</div>

<include href="views/footer.html"></include>  <!--This is strictly F3 syntax-->
