<!--lunch.html-->
<include href="views/header.html"></include>  <!--This is strictly F3 syntax-->

<div class="container">
    <h1>Welcome to a Diner.</h1>
    <p>Lunch Menu.</p>
    <img src="img/sandwich.jpg" height="200" alt="Picture of a sandwich.">
    <br>
    <br>
    <ul>
        <li>Sandwich</li>
        <li>Soup</li>
        <li>Salad</li>
    </ul>

    <a type="button" class="btn btn-primary"
       href="order1">
        Place an Order
    </a>
</div>


<include href="views/footer.html"></include>  <!--This is strictly F3 syntax-->