<!--breakfast.html-->
<include href="views/header.html"></include>  <!--This is strictly F3 syntax-->

<div class="container">
    <h1>Choose your meal.</h1>
<!--    <p>Breakfast Menu.</p>-->
<!--    <img src="img/pancakes.jpg" height="200" alt="Picture of a stack of pancakes.">-->
    <br>
    <br>

    <form id = "order1" action="#" method="post">
        <div class= "container-fluid">
            <div class="row">

                <label class="col-sm-4 control-label">Select a meal</label>
                <div class="col-sm-4">
                    <repeat group="{{@menu}}" value="{{@meal}}">
                        <label><input type="radio" name="meal" value="{{@meal}}">{{ucfirst(@meal)}}</label><br>
                    </repeat>

<!--                    <label><input type="radio" name="meal" value="lunch">Lunch</label><br>-->
<!--                    <label><input type="radio" name="meal" value="dinner">Dinner</label><br>-->
                </div>


                <div class="col-6">
                    <label>First Name:              </label>
                    <input type="text" class= "form-control" id="fname" name="fname">
                </div>

                <div class="col-6">
                    <label>Last Name:               </label>
                    <input type="text" class= "form-control" id="lname" name="lname">
                </div>
            </div>


            <div class="row">

                <div class="col-6">
                    <label for="message">Message:</label>
                    <input type="text" class= "form-control" id="message" name="message" style="height: 100px;">
                </div>

                <div class="col-6">
                    <label for="link">Link:</label>
                    <input type="text" class= "form-control" id="link" name="link">
                </div>
            </div>

            <br>
            <br>
            <div>
                <input class="btn btn-outline-primary" type="submit" value="submit">
            </div>

        </div>
    </form>


</div>


<include href="views/footer.html"></include>  <!--This is strictly F3 syntax-->