<!--breakfast.html-->
<include href="views/header.html"></include>  <!--This is strictly F3 syntax-->

<div class="container">
    <br>
    <br>
    <h1>Thank you for order making.</h1>
    <br>
    <br>
<!--    <p>{{var_dump(@SESSION.order)}}</p>-->
    <p>Your order details.</p>
<!--    This templating tokens / handlbars / mustache is done by F3-->
    <p>{{@SESSION.order->getFname()}} {{@SESSION.order->getLname()}}:</p>
    <p>You just ordered {{@SESSION.order->getFood()}} for {{@SESSION.order->getMeal()}}</p>
    <p>Condiments:  {{@SESSION.order->getCondiments()}}</p>
    <p>Notes:  {{@SESSION.order->getNotes()}}</p>
    <p><br></p>
    <p>Order number is: {{@orderID}}</p>
<!--    <img src="img/pancakes.jpg" height="200" alt="Picture of a stack of pancakes.">-->
<!--    <br>-->
<!--    <br>-->
<!--    <ul>-->
<!--        <li>Pancakes</li>-->
<!--        <li>Eggs</li>-->
<!--        <li>French Toast</li>-->
<!--    </ul>-->

<!--    <a type="button" class="btn btn-primary"-->
<!--       href="order1">-->
<!--        Place an Order-->
<!--    </a>-->
</div>


<include href="views/footer.html"></include>  <!--This is strictly F3 syntax-->